.header{
	padding: 10px;
	padding-right: 0;
	background-color:  green;
}
.header h1{
	background: #000;
	font-family: arial;
	color: #fff;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	float: right;
	text-align: right;
}
.header h1 small{
	font-size: 12px;
	font-style: italic;
	color: #fff;
}
.menu {
	background-color: #ddd;
}