table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}
table{
	border-color: green;
	width: 800px;
}
th, td{
	padding: 5px;
	text-align: left;
}
caption{
	color: green;
	text-align: center;
	width: 800px;
}
th{
	background-color: gray;
}